:root {
    --iris: #4D5AE5;
    --navy-blue: #2E2F42;
    --white: #FFF;
    --slate: #434455;
    --CLOUD: #F4F4FD;
    
}
.list {
    list-style-type: none;
    text-decoration: none;      
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.4px;
}
UL.list {
    display: inline-flex;
    

}
.dark {
    background-color: var(--navy-blue);

}
body {
    font-family: Roboto;
}

h1 {
    color: var(--white);
    text-align: center;        
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;       
    letter-spacing: 1.12px;
    text-transform: uppercase;
    width: 1440px;
    
    flex-shrink: 0;
    }

.botton {
    border-radius: 4px;
    background-color: var(--iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;       
    letter-spacing: 0.64px;
    border: none;
    text-align: center;
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    
    
}

h2 {
    /* Header 2 */
        text-align: center;
        color: var(--navy-blue);       
        
        font-size: 36px;
        font-weight: 700;
        line-height: 2.5em;       
        letter-spacing: 0.72px;
        text-transform: capitalize;
        font-style: normal;
    }
h3 {
    /* Header 3 */
    color: var(--navy-blue);
       
    line-height: 1.5em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    font-size: 20px;       
    font-weight: 500;      
        /* 120% */
    letter-spacing: 0.4px;
}
.logo {
    text-decoration: none;
    color: var(--navy-blue);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
        /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    
}

.logo span {
    color: var(--iris);
}

 .main-header-menu-item-link {
    color: var(--navy-blue);
    list-style-type: none;
    text-decoration: none;
    
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
   
    
    }
.main-ctas-item-link {
    color: var(--navy-blue);
    list-style-type: none;
    text-decoration: none;
    
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
       
    }

p {
    color: var(--slate);
    
        /* Body */
        
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5em;
        /* 150% */
        letter-spacing: 0.32px;
        text-align: left;
        margin: 0;
        padding: 0;
}

footer {
    
    
    text-decoration: none;
    font-family: Raleway;
    font-size: 18px;
    
    font-weight: 800;
    line-height: 21px;
        /* 116.667% */
    letter-spacing: 0.54px;
    
    }
        .footer {
            text-decoration: none;
            color: var(--white);            
        }
    
        .footer span {
            color: var(--iris);                       
        }
        footer p {
            text-decoration: none;
            color: var(--cloud, #F4F4FD);
            
            font-size: 16px;
            
            font-weight: 400;
            line-height: 24px;
                /* 150% */
            letter-spacing: 0.32px;
        }
               
